FLASK
Flask-Cors
Werkzeug
requests
gevent
click
colorama
Flask
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
scikit-learn
scipy
threadpoolctl
Werkzeug
wincertstore
zipp

